
.container-restaurants{
    margin: auto 8%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.item-restaurant{
    width: 20%;
    margin: 1% 1%;
    background-color: #E49B0F;
    border-radius: 10px;
    border: 1.5px solid black;
    transition: 0.4s ease;
}

.item-restaurant:hover{
    cursor: pointer;
    box-shadow: 0px 10px 10px;
    scale: 1.05 ;
}

.item-restaurant:hover>*{
    transition: 0.3s ease;
}

.photo-item>img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 110px;
}

.info-item{
    margin: 3%;
}

.first-info-item{
    display: flex;
    justify-content: space-between;
}

.item-restaurant .first-info-item>div:nth-child(1){
    transition: 0.3s ease;
}

.item-restaurant:hover .first-info-item>div:nth-child(1){
    font-weight: bold;
}

.first-info-item>div:nth-child(2){
    text-align: right;
}



.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 500px;
    max-height: 80%;
    overflow-y: auto;
  }
  