.container-login{
    background-color: #E49B0F;
    width: 20%;
    margin: auto auto;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 0px 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-login h2{
    text-align: center;
    margin: 10%;

}

.container-input{
    width: 90%;
    margin: 0 auto;
}

.container-input > p{
    width: 90%;
    font-weight: bold;
    margin-bottom: 2%;
}

.container-input > input{
    background-color: #dadadaff;
    border: 1.5px solid black;
    width: 93.5%;
    padding: 3%;
    border-radius: 5px;
    transition: 0.3s ease;
    
}

.container-input > input:hover{
    box-shadow: 0px 7px 5px;
}

.new-account-button{
    margin: 0;
    font-style: italic;
}

.new-account-button>p:hover{
    text-decoration: underline;
    cursor: pointer;
}

.error-message-login{
    color: rgb(215, 0, 0);
    text-align: center;
    width: 90%;
    font-weight: bold;
    margin: 0;
}

.error-message-login-false{
    color: #E49B0F; 
    margin: 0;

}

.button-login{
    border: 1.5px solid black;
    width: 40%;
    padding: 3% 0;
    border-radius: 5px;
    background-color: #dadadaff;
    transition: .3s ease;
    margin: 8%;
}

.button-login:hover{
    cursor: pointer;
    font-weight: bold;
}

.button-login.loading:hover{
    cursor: progress;
}